<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.guyvo">
    <application android:icon="@drawable/icon" android:label="Domotica">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SetupActivity" android:label="Setup"/>
        <activity android:name=".CortexList"/>
        <activity android:name=".LightViewActivity"/>
        <activity android:name=".SliderTest"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
